<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Lab 15 - AngularUI Bootstrap CSS</h1>

      <div ng-controller="mainController.constructor">
          <script type="text/ng-template" id="alert.html">
             <div ng-transclude></div>
          </script>
          <div uib-alert template-url="alert.html" style="background-color:#fa39c3;color:white">This is lab 14!</div>
      </div>


      <input ng-model="mainController.input" />
      <h1>You entered: {{ mainController.input }}</h1>
      <ul>
         <li ng-repeat="value in mainController.values">{{ value }}</li>
      </ul>
      <hr size="5">
      <h2>{{ mainController.valueToSquare }} * {{ mainController.valueToSquare }} = {{mainController.valueToSquare | Square }}</h2>
       <hr size="5">
       <div>
          <h1>Create a new user:</h1>
         <button ng-click="mainController.createUser(user)" type="button" class="btn btn-default">Create!</button>
       </div>
       <hr size="5">
       <table class="table table-responsive table-striped table-bordered">
          <thead>
          <tr>
             <th class="col-xs-2">Id</th>
             <th class="col-xs-1">Age</th>
             <th class="col-xs-1">First Name</th>
             <th class="col-sm-1 hidden-xs">Middle Name</th>
             <th class="col-sm-1">Last Name</th>
             <th class="col-sm-1 hidden-xs">Address Line 1</th>
             <th class="col-sm-1 hidden-xs">Address Line 2</th>
             <th class="col-sm-1 hidden-xs">City</th>
             <th class="col-sm-1 hidden-xs">State</th>
             <th class="col-sm-1 hidden-xs">Zip</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="user in mainController.users">
             <td class="col-xs-2"><button ng-click="mainController.updateUser(user)" type="button" class="btn btn-default">{{user._id}}</button></td>
             <td class="col-xs-1">{{user.age}}</td>
             <td class="col-xs-1">{{user.name.firstName}}</td>
             <td class="col-sm-1 hidden-xs">{{user.name.middleName}}</td>
             <td class="col-xs-1">{{user.name.lastName}}</td>
             <td class="col-sm-1 hidden-xs">{{user.address.addressLine1}}</td>
             <td class="col-sm-1 hidden-xs">{{user.address.addressLine2}}</td>
             <td class="col-sm-1 hidden-xs">{{user.address.city}}</td>
             <td class="col-sm-1 hidden-xs">{{user.address.state}}</td>
             <td class="col-sm-1 hidden-xs">{{user.address.zip}}</td>
          </tr>
          </tbody>
       </table>
       <hr size="5">
       <div class="row">
          <div class="col-xs-12 col-md-3">Id: {{mainController.users[0]._id}}</div>
          <div class="col-xs-12 col-md-1">First Name: {{mainController.users[0].name.firstName}}</div>
          <div class="col-xs-12 col-md-1">Middle Name: {{mainController.users[0].name.middleName}}</div>
          <div class="col-xs-12 col-md-1">Last Name: {{mainController.users[0].name.lastName}}</div>
          <div class="col-xs-12 col-md-1">Age: {{mainController.users[0].age}}</div>
          <div class="col-xs-12 col-md-1">Address ln1: {{mainController.users[0].address.addressLine1}}</div>
          <div class="col-xs-12 hidden-md hidden-lg">Address ln2: {{mainController.users[0].address.addressLine2}}</div>
          <div class="col-xs-12 col-md-1">City: {{mainController.users[0].address.city}}</div>
          <div class="col-xs-12 col-md-1">State: {{mainController.users[0].address.state}}</div>
          <div class="col-xs-12 col-md-1">Zip: {{mainController.users[0].address.zip}}</div>
       </div>
    </div>
  </div>
</div>
